{% extends "main/Pol.html"%}

{% block content %}

<section>
<h2>Портфолио Python разработчика</h2>
<p>Я начинающий Python Developer </p>

<div class="row">
  <div class="column">
    <div class="content">
      <h3>Мои хард скиллы </h3>
      <p>
        <li> GIT</li>
        <li> Python</li>
        <li> Django</li>
        <li> OOP</li>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="content">

      <h3>Личные качества</h3>
      <p>
        <li>Гибкость</li>
        <li>Проактивность </li>
        <li>Тайм-менеджмент</li>
        <li>Коммуникативность </li>
        <li>Командная работа</li>
      </p>
    </div>
  </div>


<div class="content">
  <a target="_blank">
  </a>
  <h3>Краткая информация</h3>
  <p>Я Python-разработчик и сейчас нахожусь , в поиске новых возможностей.
Буду рад присоединиться к сплоченной команде для совместной работы на интересных проектах .
Закончил курсы по разработке на Python , владею знаниями фреймворка Django.
Также продолжаю изучать данный язык программирования и все , что с ним связанно , самостоятельно.
  </p>
</div>
</section>

{% endblock %}



