{% extends "main/Pol.html"%}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="text" style="font-size:60px" >
    <ul>
        <h10 >Здравствуйте, я </h10>
        <h20 >Роман Сивенко </h20>
    </ul>
        <h3>Я  начинающий  Python-разработчик.</h3>
        <h5> Это мой небольшой проект котрый я написал после окончания курсов IT Overone </h5>
        <h6> За время обучения я понял что  писать код мне нравиться , и в дальнейшем готов постоянно учиться чему то новому и работать в этой сфере   </h6>

</div>





{% endblock %}